body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Open Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #9147ff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.thumbs-wrapper {
  display: none;
}

p,h1,h2,h3,h4 {
  font-family: 'Open Sans';
}

.first {
  background: white;
  width: 40%;
  margin: 5px;
  border: none;
  height: 45px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  padding: 5px 5px;
  border-radius: 8px;
  outline: none;
  color: #027502;
}

.second {
  background: white;
  width: 40%;
  margin: 5px;
  border: none;
  height: 45px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px 5px;
  outline: none;
  color: #a90000;
}


